@import './utils/index.scss';
@import './core/index.scss';

// Customize Scrollbar
.hidden_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.designed_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-500) var(--color-gray-200);
  -ms-overflow-style: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-gray-200);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-500);
    border-radius: 999px;
    border: 1px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-600);
  }
}

body {
  scrollbar-gutter: stable;
}

@import 'react-phone-input-2/lib/style.css';
