@import './utils/index.scss';
@import './core/index.scss';

// Customize Scrollbar
.hidden_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.designed_scrollbar {
  &::-webkit-scrollbar {
    width: 0.25rem;
    &-track {
      background-color: var(--color-secondary-500);
    }
    &-thumb {
      background-color: var(--color-primary-500);
      border-radius: 1rem;
    }
  }
}

@import 'react-phone-input-2/lib/style.css';
