# Configuration
NEXT_PUBLIC_API_URL=https://en-api-stg.ichinglab.com/api/v1/{{scope}}
NEXT_PUBLIC_WEB_HOST_URL=http://localhost:3080
NEXT_PUBLIC_WEB_IDENTIFIER=en
NEXT_PUBLIC_WEB_MODE=development

# Flag
NEXT_PUBLIC_ENABLE_RBAC=true